body {
    padding: 0;
    margin: 0;
    h1,p,h3,h2,h3,h4,h5,h6 {
        margin: 0;
    }
    font-family: "Gilroy Thin", "Helvetica", "Arial", sans-serif;
}
@font-face {
    font-family: 'Bodoni Classic Light';
    src: url('../assets/font/BodoniClassicText-CyrillicLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Thin';
    src: url('../assets/font/Gilroy-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}
.container-nav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}
.container-feed {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1440px) {
        max-width: 856px;
    }
}